@font-face {
  font-family: 'gt';
  src: url('../font/gt300.woff') format('woff');

  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'gt';
  src: url('../font/gt300i.woff') format('woff');

  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'gt';
  src: url('../font/gt400.woff') format('woff');

  font-weight: 400;
  font-style: normal;
}

/*
@font-face {
  font-family: 'gt';
  src: url('../font/gt400i.woff') format('woff');

  font-weight: 400;
  font-style: italic;
}*/

@font-face {
  font-family: 'gt';
  src: url('../font/gt700.woff') format('woff');

  font-weight: 700;
  font-style: normal;
}

