.mop {
}

.msup,
.msub,
.msupsub {
  font-size: 65%;
}

.msup {
  vertical-align: text-top;
  position: relative;
  top: -0.2em;
}
.msub {
  vertical-align: baseline;
  position: relative;
  bottom: -0.3em;
}

.msupsub {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  bottom: -0.24em;
}

.mssup {
  font-size:100%;
  vertical-align: top;
  /*position: relative;
  top: 0.2em;*/
}

.mssub {
  font-size:100%;
  vertical-align: baseline;
}

.mw {
  white-space: nowrap;
  line-height: 1;
}

.mtht {
  font-size: 105%;
  transform:scale(0.92,1); 
  display:inline-block;
  position: relative;
  top: 0.04em;
}

.meq {
  font-size: 118%;
  transform:scale(1.45,1); 
  display:inline-block;
  position:relative;
  top: 0.1em;
}

.mdiv{
  position: relative;
  bottom: -0.1em;
  margin: 0 -0.15em;
  font-size: 110%;
}

.mto {
  transform:scale(1.6, 1); 
  display:inline-block;
}

.min {
  vertical-align: baseline;
  margin: 0 -0.1em;
  font-size: 70%;  
}

.masx {
  font-size: 150%;
  position: relative;
  top: 0.34em;
}

.msl, .msr,
.mal, .mar{
  font-size: 118%;
  position: relative;
  top: 0.07em;
}

.mcl, .mcr {
  position: relative;
  top: -0.04em;
  font-size: 118%;
}

.msl {
  margin-right:-0.02em;
}

.msr {
  margin-left:-0.05em;
}

.mpl {
  margin-right: 0.02em;
}

.mpr {
  margin-left: 0.02em;
}

