section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #222; }



/* Revel specific texne styling */
.reveal .mdisplay {
  text-align: center;
  margin: 0.8em 0;
}

#outline-list {margin: 2.3em 4.5em;}
#outline-list > li {margin-top: 1.6em}

#comm-def-list {position: absolute; top: 375px; left:250px;}
#comm-def-list > li {margin: 0.3em 0}

.reveal .comm-protocol-list {margin-left: 1em;}
.reveal .comm-protocol-list > li {margin: 0.8em 0;}

.sgraph.edgeful > path { stroke: black; }
.sgraph.colorful > #ic1 { fill: #ff598f; }
.sgraph.colorful > #ic2 { fill: #e0e300; }
.sgraph.colorful > #ic3 { fill: #01dddd; }
.sgraph.colorful > #ic4 { fill: #fd8a5e; }
.sgraph.colorful > #ic5 { fill: #fd8a5e; }
.sgraph.colorful > #ic6 { fill: #ff598f; }
.sgraph.colorful > #ic7 { fill: #00bfaf; }
.sgraph.colorful > text { fill: white;}
.sgraph > text {font-weight: 400;}

#ptest3-list > li {margin: 1em 0;}

#pdt-list { width: 500px; margin: 0 1em;}
#pdt-list > li {margin: 1em 0;}

#comm-table {
  margin: auto;
  text-align: center;
}

#reduction-list > li {
  margin: 0.4em 0;
}

#pdt-mc-list {
  margin: 0.5em 0 1em;
}

#pdt-mc-list > li {
  margin: 0.2em 0  0.7em 1em;
}

#pdt-mc-list > li li {
  margin: 0.2em 0;
}

#sun {
 position: absolute;
 left:30px;
 top: -190px;
}

#sun.visible {
  top:-120px;
}

#protocol-box {
  color: #000;
  background-color:#fdfbe4;
  border-radius:20px;
  box-shadow: 2px 2px 10px rgba(200, 190, 160, 0.7);

  margin:-0.3em 0 0 -0.6em;
  padding: 0.4em 1.9em;
  width: 575px;
}
.reveal .theoremlike {
  text-align: left;
  border: 4px solid #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 0.2em 1em 0.5em;
}

.reveal .theoremlike.big {
  text-align: left;
  border: 4px solid #fff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.20);
  border-radius: 10px;
  padding: 0.2em 1em 0.5em;
}

.underline {
  border-bottom:1px solid #fff;
}

.underline.visible {
  border-bottom: 1px solid #ccc;
}

.reveal .bounds-table {
  font-size: 0.8em;
  border-collapse: collapse;
  box-sizing: content-box;
  margin:  1em 5em;
  position:absolute;
  left: 0
}

.bounds-table td {
  padding: 0.6em  0 0.6em 1em;
  vertical-align: top;
}

.bounds-table th {
  padding: 0.2em 1em;
}

#ptest1-list {
  margin: 1em 4em;
}

#ptest1-list > li {
  margin: 0.4em 0;
}

.bullet {
  display:inline-block;
  height:20px;
  width:20px;
  border-radius:20px;
  position:relative;
  bottom:-2px;
}

.nb {
  white-space: nowrap;
}

#wvector {
  transition: transform 0.3s;
  transform-origin: 180px 240px;
}

#wvector.rotated {
  transform: translate(400px, 30px) rotate(90deg);
}

#pdt-affine-list > li {
  margin-bottom: 0.6em;
}

#pdt-affine-list2 > li {
  margin-bottom: 0.6em;
}

#pdt-walk-list > li {
  margin-bottom: 0.6em;
}

#mc-example-table {
  margin: 20px 0 0 40px;
}

#mc-example-table td {
 text-align:right;
}

#mc-example-table td + td + td {
 text-align:left;
}

.prob-setup-list {
position: absolute; left:100px; top:450px;
}

.prob-setup-list > li {
  margin-bottom: 0.4em;
}

#proof-idea-list {
  margin: 1em 2em;
}

#proof-idea-list > li {
  margin-bottom: 1em;
}

#proof-idea-inner-list > li {
  margin: 1.2em 0 3.5em 0.8em;
}

.acolor {
  fill: #00bfaf;
  color:#00bfaf;
}

.bcolor {
  fill:#ff598f;
  color:#ff598f;
}

.bcolor.b,
.acolor.b {
  font-weight:bold;
}


#findings-list > li {
  margin-bottom: 1em;
}

#conclusion-list {
  margin: 0 3em;
}

#conclusion-list > li {
  margin: 1.5em;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: white;
  background-color: white;
  font-weight: 300;}

.reveal {
  font-family: 'gt', Lato, sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #111;
  }

::selection {
  color: #111;
  background: #bee4fd;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.25;
  font-weight: inherit;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  }

.reveal .slides .centered {
  text-align: center;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #111;
  font-weight: 300;
  }

.reveal h1, .reveal h2 {
  font-size: 2em;
  line-height: 1.2;
  }

.reveal h3 {
  font-size: 1.65em; }

.reveal h4 {
  font-size: 1.2em;
  }

.reveal h5 {
  font-style: italic;
  font-size: 0.9em;
  line-height: 1.5;
}

.reveal h6 {
}

.reveal h7 {
  font-size: 30px;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }


/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #42affa;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #8dcffc;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #068de9; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

.reveal .rand {
  color: orange;
  font-weight: 700;
}


